name: KLIO PR build

on: [pull_request_target, pull_request]

jobs:

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest

          # Optional: golangci-lint command line arguments.
          # args: --allow-parallel-runners

  build:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Build
        run: go build -v ./cmd/klio/...

  test:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Test
        run: |
          go test -v ./... -covermode=count -coverprofile=coverage.out

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Calculate coverage
        id: calc
        run: |
          go test -v ./... -covermode=count -coverprofile=coverage.out
          echo ::set-output name=coverage::"$(go tool cover -func=coverage.out)"
          echo ::set-output name=pr_number::"$(jq --raw-output .pull_request.number "$GITHUB_EVENT_PATH")"

      - name: Create coverage comment
        if: ${{ success() }}
        continue-on-error: true
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ steps.calc.outputs.pr_number }}
          body: |
            **Coverage report**
            ${{ steps.calc.outputs.coverage }}
